.container-fluid {
    padding: 0;

}

/* NavBar */
.navbar {
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
    color: black;
    letter-spacing: 1px;
}

.bg-navbar{
    background-image: linear-gradient(to left, cyan, white); 
}

/* Footer */
footer {
    background-image: linear-gradient(to right, cyan, white); ;
    height: 200px;
    border-top: 4px solid #000;
    position:absolute;
    bottom:0;
    width:100%;
}

footer p {
    color: black;
    text-align: center;
    top: 50%;
    position: relative;
}