{% extends 'index.html' %}

{% block title %} Validar CPF {% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <div class='col-sm-2'>
        <form action="#" method="POST"> {% csrf_token %}
            <div class="mb-3">
                <label for="cpf" class="form-label">CPF:</label><br>
                <input id="campo_cpf" class="form-control" type="text" maxlength="11">
            </div>
            <div class="mb-3 neonBTN">
                <!--
                <button class="btn btn-success" type="submit" onclick="TestaCPF()">Verificar</button>
                -->
                <a href="#" onclick="TestaCPF()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Verificar
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}