{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "includes/head.html" %}
    <title>{% block title %}{% endblock %}</title>
</head>
    <!-- Page Preloder -->
    {% include "includes/preloader.html" %}

    <div class="container-fluid">
        <!-- Header Section -->
        {% include "includes/header.html" %}
        
        <!-- Block Section -->
        {% block body %} {% endblock %}

        <!-- Footer Section -->
        {% include "includes/footer.html" %}
    </div>

    <!-- Js Plugins -->
    {% include "includes/js-plugins.html" %}
</html>